# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Mac OS
.DS_Store

# Logs
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python egg metadata
*.egg-info/

# VS Code settings
.vscode/

# Environment and runtime files
*.env
*.db
*.sqlite3
*.pkl

# Streamlit cache
.streamlit/
